body {
	background-color: red;
}
#members{
	margin-left: 100px;
	text-align:left;
	font-style:italic;
}
#trackList{
	background-color: Yellow;
	font-style: cursive;
}
#albumPic{
	margin-left:36%;
	align:top;
	height:450px;
	width:450px;
	background-repeat: no-repeat;
	background-image:url("http://www.liveinlimbo.com/wp-content/uploads/2016/01/Blackstar_album_cover-1.jpg");
}
p{
	text-decoration: underline;
	text-align: center;
}
caption{
	background-color:orange;
	font-weight:bold;
	font-size: 20px;
}
